<!-- If no objectives are present. -->
<div class="w-full flex flex-wrap mt-14" *ngIf="releaseDetails && !releaseDetails?.releaseEnhancements.length && formViewType === '' ">
    <div class="w-full py-6 text-center text-gray-700">Hey, currently there are no Enhancements or Innovations added for this release.</div>
    <div class="w-full flex justify-center">
        <button mat-flat-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">Let's Start Adding</button>
    </div>
</div>

<!-- View Block -->
<div class="w-full">

    <!-- View Block Title and Actions -->
    <div class="w-full flex flex-wrap justify-between items-center mb-4" *ngIf="!['Add', 'Edit'].includes(formViewType) && releaseDetails?.releaseEnhancements?.length">
        <div class="w-10/12 text-lg">
            <div class="w-full">Enhancements and Innovations</div>
            <div class="w-full text-xs text-gray-600">Click on <span class="font-bold italic">Show more</span> to view the description and perform other actions.</div>
        </div>
        <div class="w-2/12 flex justify-end">
            <button mat-stroked-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">+ Add</button>
        </div>
    </div>

    <!-- Loading Block -->
    <div class="w-full mt-14 flex items-center justify-center" *ngIf="fetchLoader">
        <mat-spinner class="mr-2" diameter="22"></mat-spinner> Fetching Enhancements and Innovations...
    </div>

    <!-- View Block Objectives list -->
    <div class="w-full" *ngIf="releaseDetails && releaseDetails?.releaseEnhancements?.length && formViewType === '' ">
        <div class="py-4 text-xs">
            <span class="font-bold">Total:</span><span class="text-gray-800 ml-1">{{releaseDetails?.releaseEnhancements.length}}</span>
        </div>
        <div class="w-full px-4 py-2 border border-gray-200 rounded-md mb-4" *ngFor="let enhancement of releaseDetails?.releaseEnhancements; let i = index;">

            <!-- Enhancement Title & Action Block -->
            <div class="w-full flex justify-between items-center">
                <div class="w-8/12">
                    <div class="text-xs text-gray-600 flex items-center">#{{i+1}} <div class="w-fit text-gray-600 text-xs py-1 px-2 rounded-md bg-gray-100 border border-gray-200 ml-2">{{filterRequiredIds('category', enhancement.category)}}</div></div>
                    <div class="text-base mt-2">{{enhancement.title}}</div>
                </div>
                <div class="w-4/12 flex justify-end items-center">
                    <div mat-flat-button class="select-none cursor-pointer rounded-full px-3 pr-2 py-1 flex items-center text-xs uppercase" [ngClass]="getStatusStyle(filterRequiredIds('status', enhancement.status))" [matMenuTriggerFor]="matEnhancementStatusMenu">
                        {{filterRequiredIds('status', enhancement.status)}} <mat-icon class="cursor-pointer bg-white rounded-full ml-3">arrow_drop_down</mat-icon>
                    </div>
                    <mat-menu #matEnhancementStatusMenu="matMenu">
                        <div class="" *ngFor="let status of releaseConfigDetails.enhancementStatus">
                            <div class="text-xs p-3 uppercase hover:bg-gray-100 cursor-pointer hover:font-bold hover:text-blue-800 hover:border-l-2 hover:border-blue-800">{{status.value}}</div>
                        </div>
                    </mat-menu>
                    <button mat-icon-button class="ml-2" matTooltip="Show More" *ngIf="expandedEnhancementInnovationId !== enhancement._id" (click)="expandedEnhancementInnovationId = enhancement._id; getMemberDetails(enhancement.lastModifiedById)">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-icon-button class="ml-2" matTooltip="Show Less" *ngIf="expandedEnhancementInnovationId !== '' && expandedEnhancementInnovationId === enhancement._id" (click)="expandedEnhancementInnovationId = '' ">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
            </div>
    
            <!-- Expanded Block -->
            <div class="w-full mt-4" *ngIf="expandedEnhancementInnovationId === enhancement._id ">

                <!-- Enhancement Description -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">DESCRIPTION</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{enhancement.description}}</div>
                </div>

                <!-- Enhancement Reference Links -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">ADVANTAGES/BENEFITS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{enhancement.benefits}}</div>
                </div>

                <!-- Enhancement Comments / Remarks -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">COMMENTS/REMARKS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{enhancement.comments}}</div>
                </div>
    
                <!-- Modification Details -->
                <div class="w-full flex justify-end items-center">
                    <div class="w-10/12 mt-8">
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Created By:</span> <mat-spinner [diameter]="20" *ngIf="!enhancementInnovationsModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="enhancementInnovationsModifiedName" [routerLink]="['../../admin/members', enhancement.createdById]">{{enhancementInnovationsModifiedName?.firstName}} {{enhancementInnovationsModifiedName?.lastName}} </span><span class="italic">, On {{enhancement.createdOnDate | date:'medium'}}</span>
                        </div>
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Modified By:</span> <mat-spinner [diameter]="20" *ngIf="!enhancementInnovationsModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="enhancementInnovationsModifiedName" [routerLink]="['../../admin/members', enhancement.lastModifiedById]">{{enhancementInnovationsModifiedName?.firstName}} {{enhancementInnovationsModifiedName?.lastName}} </span><span class="italic">, On {{enhancement.lastModifiedDate | date:'medium'}}</span>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-end">
                        <button mat-icon-button class="" color="warn" (click)="deleteEnhancementInnovationId = enhancement._id; enhancementsInnovationsComponentDeleteActions(enhancement.title);">
                            <mat-icon class="mr-2">delete</mat-icon>
                        </button>
                        <button mat-icon-button class="" (click)="formViewType = 'Edit'; editEnhancementInnovationId = enhancement._id; editEnhancementInnovationsForm(enhancement) ">
                            <mat-icon class="mr-2">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>


</div>

<!-- Form Block -->
<div class="w-full" *ngIf="['Add', 'Edit'].includes(formViewType)">

    <!-- Title -->
    <div class="w-full text-lg">{{formViewType}} Release Defects, Bugs & Observations</div>
    <div class="w-full text-xs text-gray-600">Enter all the requied fields*</div>

    <!-- Form Block -->
    <div class="w-full mt-8">
        <div class="w-10/12 flex flex-wrap items-center my-3" [formGroup]="enhancementsInnovationsForm">

            <!-- Category -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Enhancement Category</mat-label>
                <mat-select placeholder="Select enhancement Type" formControlName="category" required>
                    <mat-option *ngFor="let category of releaseConfigDetails.enhancementsCategories" [value]="category._id">
                      {{category.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Title -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Enhancement Title</mat-label>
                <input type="text" matInput placeholder="Add enhancement Title"  formControlName="title" required>
            </mat-form-field>

            <!-- Description -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Enhancement Description</mat-label>
                <textarea type="text" matInput placeholder="Add enhancement Description"  formControlName="description" required></textarea>
            </mat-form-field>

            <!-- Reference Links -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Advantages/Benefits</mat-label>
                <textarea type="text" matInput placeholder="Add enhancement Reference Links"  formControlName="benefits"></textarea>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Comments/Remarks</mat-label>
                <textarea type="text" matInput placeholder="Add Comments/Remarks"  formControlName="comments"></textarea>
            </mat-form-field>

            <!-- Status -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Enhancement Status</mat-label>
                <mat-select placeholder="Select enhancement Status" formControlName="status" required>
                    <mat-option *ngFor="let status of releaseConfigDetails.enhancementStatus" [value]="status._id">
                      {{status.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Form Actions -->
            <div class="w-full flex justify-end mt-8" *ngIf="!formActionLoader">
                <button mat-stroked-button class="" (click)="formViewType = '';">Cancel</button>
                <button mat-flat-button class="ml-4" color="primary" (click)="updateReleaseEnhancementsInnovations()" [disabled]="enhancementsInnovationsForm.invalid">{{formViewType === 'Add' ? 'Add' : 'Update'}}</button>
            </div>

            <!-- Form action loader -->
            <div class="w-full flex justify-end mt-8" *ngIf="formActionLoader">
                <mat-spinner [diameter]="20"></mat-spinner>
                <span class="ml-2">{{formViewType}}ing Release enhancement ...</span>
            </div>
        </div>
    </div>
</div>