<div class="w-full px-4">
    <div class="w-full my-2 p-4">
        <!-- Back to release list Navigation-->
        <div class="" style="width: fit-content">
            <a class=""  [routerLink]="['../']">
                <div class="flex items-center hover:text-blue-500">
                    <mat-icon class="text-base -ml-1 -mr-1">keyboard_arrow_left</mat-icon>Back
                </div>
            </a>
        </div>

        <!-- Create Release Content -->
        <div class="w-full mt-4">
            <!-- Title -->
            <div class="w-full flex justify-between items-center">
                <div class="">
                    <div class="text-2xl text-gray-700 flex items-center">Create New Release</div>
                </div>
            </div>

            <!-- Create / Edit Form -->
            <div class="w-full mt-10">
                <form class="w-full" [formGroup]="releaseCreateEditForm">
                    <!-- Client Selection -->
                    <div class="w-full flex justify-start items-start pb-4 border-b border-gray-200">
                        <div class="w-3/12">
                            <div class="w-full text-lg">Client</div>
                            <div class="w-full text-xs text-gray-500">Select client for the project.</div>
                        </div>
                        <div class="w-4/12">
                            <!-- Client -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Select Client</mat-label>
                                <mat-select placeholder="Select Client" required formControlName="client">
                                    <mat-option *ngFor="let client of clientsList" [value]="client._id">
                                      {{client.clientName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Client is <strong>Required!</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Release Details -->
                    <div class="w-full flex justify-start items-start mt-10 pb-4 border-b border-gray-200">
                        <div class="w-3/12">
                            <div class="w-full text-lg">Release Details</div>
                            <div class="w-full text-xs text-gray-500">Enter all the required details and initiate the release. </div>
                        </div>
                        <div class="w-4/12">
                            <!-- Release Title -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Release Title</mat-label>
                                <input type="text" matInput placeholder="Release Title" formControlName="releaseTitle" required>
                                <mat-error>Release Title is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Release Type -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <mat-label>Release Type</mat-label>
                                <mat-select placeholder="Select Release Type" required formControlName="releaseType">
                                    <mat-option *ngFor="let type of releaseConfigDetails?.types" [value]="type._id">
                                      {{type.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Release Type is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Release Type -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <mat-label>Release Target</mat-label>
                                <mat-select placeholder="Select Release Target" required formControlName="releaseTarget">
                                    <mat-option *ngFor="let target of releaseConfigDetails?.targets" [value]="target._id">
                                      {{target.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Release Type is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Release Priority -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <mat-label>Release Priority</mat-label>
                                <mat-select placeholder="Select Release Priority" required formControlName="releasePriority">
                                    <mat-option *ngFor="let priority of releaseConfigDetails?.priorities" [value]="priority._id">
                                      {{priority.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Release Priority is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Release Owner -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <mat-label>Release Owner</mat-label>
                                <mat-select placeholder="Select Release Owner" required formControlName="releaseOwner">
                                    <mat-option *ngFor="let owner of membersList" [value]="owner._id">
                                      {{owner.firstName + ' ' + owner.lastName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Release Type is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Release Closing Date -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <mat-label>Release Closing Date</mat-label>
                                <input class="w-full" matInput [matDatepicker]="closingDatePicker" required formControlName="releaseClosingDate">
                                <!-- <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle [for]="closingDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #closingDatePicker></mat-datepicker> -->

                                <mat-datepicker-toggle matSuffix [for]="closingDatePicker">
                                    <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                                  </mat-datepicker-toggle>
                                <mat-datepicker #closingDatePicker></mat-datepicker>
                                <mat-error>Release Closing Date is <strong>Required!</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="w-full flex justify-end p-6">
                        <button mat-button class="">Cancel</button>
                        <button mat-flat-button class="bg-blue-500 text-white" style="margin-left: 3%;" (click)="submiteReleaseDetails()">Create Release</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>