<div class="w-full flex items-start px-4">

    <!-- Lists -->
    <div class="w-full p-3">
        <div class="w-full p-3 border border-gray-200 rounded-md my-4">
            <!-- Title -->
            <div class="w-full flex justify-between">
              <div class="text-lg px-3 text-gray-800">Projects</div>
              <div class="px-3">
                  <button mat-button class="text-xs">
                      <mat-icon class="text-lg -mt-1 -ml-2">filter_list</mat-icon> Filter
                  </button>
              </div>
            </div>

            <div class="w-full border border-gray-200 rounded-md">
              <!-- Header -->
              <div class="w-full flex bg-gray-100 font-bold text-xs text-gray-800 py-3 px-4 rounded-t-md">
                <div class="w-3/12">Project Name</div>
                <div class="w-3/12">Client</div>
                <div class="w-3/12">Team Members</div>
                <div class="w-3/12">Actions</div>
              </div>

              <!-- Content -->
              <div class="w-full flex border-b border-gray-100 p-3 items-center" *ngFor="let project of projectsList">
                <div class="w-3/12 cursor-pointer hover:text-blue-600" [routerLink]="[project._id]">{{project.projectName}}</div>
                <div class="w-3/12">{{project.clientId}}</div>
                <div class="w-3/12">{{project.teamMembers.length}} Members</div>
                <div class="w-3/12">
                  <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
              </div>

              <!-- Project List not present -->
              <div class="w-full p-10 text-center italic text-gray-500" *ngIf="!projectsList.length">** Projects Not Added. **</div>
            </div>
        </div>
        
    </div>
    
</div>