<div class="w-full flex items-start px-4">

    <!-- Lists -->
    <div class="w-full p-3">
        <div class="w-full p-3 border border-gray-200 rounded-md my-4">
            <!-- Title -->
            <div class="w-full flex justify-between">
                <div class="text-lg px-3 text-gray-800">Clients</div>
                <div class="px-3">
                    <button mat-button class="text-xs">
                        <mat-icon class="text-lg -mt-1 -ml-2">filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>

            <div class="w-full p-3">
                <table mat-table [dataSource]="clientsList" class="w-full border border-gray-200 rounded-md">
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="clientName">
                      <th mat-header-cell *matHeaderCellDef class="text-xs font-bold"> Client Name </th>
                      <td mat-cell *matCellDef="let element" class="text-blue-600 cursor-pointer" [routerLink]="['./', 567]"> {{element.clientName}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="lables">
                      <th mat-header-cell *matHeaderCellDef class="text-xs font-bold"> Project Lables </th>
                      <td mat-cell *matCellDef="let element" class="text-gray-600"> <span class="bg-gray-100 px-2 py-1 rounded-md mr-2 border border-gray-200" *ngFor="let tag of element.lables">{{tag}}</span> </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="totalProjects">
                      <th mat-header-cell *matHeaderCellDef class="text-xs font-bold"> Total Projects </th>
                      <td mat-cell *matCellDef="let element" class="text-gray-600"> {{element.projects.length}} <span class="text-xs">Projects</span></td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="totalReleases">
                      <th mat-header-cell *matHeaderCellDef class="text-xs font-bold"> Total Releases </th>
                      <td mat-cell *matCellDef="let element" class="text-gray-600"> {{element.releases.length}} <span class="text-xs">Releases</span></td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef class="text-xs font-bold"> Actions </th>
                      <td mat-cell *matCellDef="let element" class="text-gray-600"> <button mat-icon-button class=""><mat-icon>more_vert</mat-icon></button> </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="clientsDisplayColumns" class="bg-gray-50"></tr>
                    <tr mat-row *matRowDef="let row; columns: clientsDisplayColumns;" class="hover:bg-gray-50"></tr>
                </table>
            </div>
        </div>
        
    </div>
    
</div>