<div class="w-full flex items-start px-4">

    <!-- Lists -->
    <div class="w-full p-3">
        <div class="w-full p-3 border border-gray-200 rounded-md my-4">
            <!-- Title -->
            <div class="w-full flex justify-between">
                <div class="text-lg px-3 text-gray-800">Clients</div>
                <div class="px-3">
                    <button mat-button class="text-xs">
                        <mat-icon class="text-lg -mt-1 -ml-2">filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>

            <div class="w-full py-3">

              <!-- Clients List Card -->
              <div class="w-full flex flex-wrap justify-start">
                <div class="w-3/12 px-4" *ngFor="let client of clientsList">
                  <div class="w-full h-64 flex flex-col border border-gray-200 rounded-2xl">
                    <div class="w-full p-4">
                      <!-- Status Block -->
                      <div class="w-full flex justify-start">
                        <span class="text-right text-xs px-3 rounded-full" [ngClass]="getStatusStyle(client.clientStatus)">{{client.clientStatus}}</span>
                      </div>

                      <!-- Card Content -->
                      <div class="w-full mt-4">
                        <div class="w-full text-xl">{{client.clientName}}</div>
                        <div class="w-full text-xs text-gray-400 uppercase mt-1">{{filterClientType(client.clientType)}}</div>

                        <!-- Divider -->
                        <div class="w-full flex justify-start my-5">
                          <div class="w-2/12 border border-gray-200"></div>
                        </div>

                        <div class="text-gray-400 flex items-center text-xs hover:text-blue-700 cursor-pointer">
                          <mat-icon class="text-lg -mt-1">link</mat-icon> {{client.clientWebsite}}
                        </div>
                      </div>
                      
                    </div>
                    <div class="w-full px-4 py-2 bg-gray-50 mt-auto rounded-b-2xl flex justify-end border-t border-gray-200">
                      <button mat-button color="primary" [routerLink]="[client._id]">View</button>
                    </div>
                  </div>
                </div>

                <!-- Loader -->
                <div class="w-full flex justify-center py-28" *ngIf="!clientsList">
                  <div class="flex items-center">
                      <mat-spinner [diameter]="20"></mat-spinner>
                      <span class="ml-2">Loading Clients. Please Wait ...</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>
    
</div>