<div class="w-full h-screen flex flex-wrap content-center justify-center overflow-y-auto">

    <!-- Title -->
    <div class="w-7/12">
        <div class="w-full font-bold text-xl">Welcome back!</div>
        <div class="w-full text-gray-500 text-lg"><span class="text-blue-500 font-bold">Sign in</span> to your account & start tracking your project releases.</div>
    </div>

    <!-- Org Search Form -->
    <div class="w-7/12 flex flex-wrap justify-center my-10" *ngIf="!isUniqueTagVerified">
        <!-- Org Search Form -->
        <form [formGroup]="orgSearchForm" class="w-full flex flex-wrap justify-center">
            <!-- Organization -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Organization Unique Tag</mat-label>
                <input class=" bg-gray-500" type="text" matInput placeholder="Enter your Organization Unique Tag" formControlName="orgUniqueTag">
                <mat-error>{{isUniqueTagVerifiedText}}</mat-error>
            </mat-form-field>
        </form>

        <!-- Org Search Button -->
        <div class="w-full flex justify-end mt-3">
            <button mat-flat-button class="w-3/12" color="primary" [disabled]="orgSearchForm.invalid" (click)="verifyUniqueTag()" *ngIf="!orgUniqueTagVerificationLoader">Verify</button>
            <div class="flex items-center" *ngIf="orgUniqueTagVerificationLoader">
                <mat-spinner [diameter]="20"></mat-spinner>
                <span class="ml-2">Verfiying ...</span>
            </div>
        </div>
    </div>

    <!-- Sign In Form -->
    <div class="w-7/12 flex justify-center my-10" *ngIf="isUniqueTagVerified">
        <!-- Sign In Form -->
        <form [formGroup]="signinForm" class="w-full flex flex-wrap justify-center" *ngIf="isRegisterFormEnabled === 'sign-in'">
            <!-- Email -->
            <mat-form-field class="w-full" appearance="outline">
                <!-- <mat-label>Email</mat-label> -->
                <input class=" bg-gray-500" type="email" matInput placeholder="Enter your Email ID" formControlName="email">
                <mat-error>Email is <strong>Required!</strong></mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field class="w-full" appearance="outline">
                <input [type]="hideLoginPassword ? 'password' : 'text'" matInput placeholder="Enter the Password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hideLoginPassword = !hideLoginPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLoginPassword">
                    <mat-icon>{{hideLoginPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>Password is <strong>Required!</strong>. Min 4 Characters.</mat-error>
            </mat-form-field>

            <!-- Sign In Button -->
            <div class="w-full flex justify-end mt-3">
                <button mat-flat-button class="w-full" color="primary" [disabled]="signinForm.invalid" (click)="memberSignIn()" *ngIf="!signInLoader">Sign In</button>
                <div class="flex items-center" *ngIf="signInLoader">
                    <mat-spinner [diameter]="20"></mat-spinner>
                    <span class="ml-2">Signing In ...</span>
                </div>
            </div>
        </form>
    </div>

    
</div>

<!-- A release tracker is a tool or system used to manage the process of releasing software or other products. It typically includes features such as version control, issue tracking, and project management to ensure that releases are completed on time, within budget, and with minimal errors. The release tracker helps to keep track of the status of each release, including bugs or issues that have been identified, fixes that have been implemented, and testing results. It may also include features for managing user feedback and communicating with stakeholders. Overall, a release tracker is essential for managing the complex process of releasing software or products to ensure a successful and timely launch. -->