<div class="w-full px-4">
    <div class="w-full my-4 p-4">

        <!-- Domain List Block -->
        <div class="w-full" *ngIf="domainList.length">

            <!-- Title & Domain Actions -->
            <div class="w-full flex justify-between items-start">

                <!-- Title Content -->
                <div class="w-8/12">
                    <div class="w-fit font-bold flex items-center"><span class="text-blue-600 uppercase">Domains</span></div>
                </div>

                <div class="">
                    <button mat-stroked-button class="" color="primary">+ Filter</button>
                </div>
            </div>

            <div class="w-full mt-4">

                <div class="w-full border border-gray-200 rounded-md">
                    <div class="w-full flex justify-between px-4 py-2 bg-gray-50 border-b border-gray-200 rounded-t-md text-gray-800 font-bold text-xs">
                        <div class="w-3/12">Domain URL</div>
                        <div class="w-2/12">Environment</div>
                        <div class="w-2/12">Client</div>
                        <div class="w-2/12">Project</div>
                        <div class="w-1/12">Status</div>
                        <div class="w-1/12">Actions</div>
                    </div>
                    <div class="w-full flex justify-between items-center px-4 py-3 border-b border-gray-200 text-xs" *ngFor="let domain of domainList">
                        <div class="w-3/12">
                            <div class="text-blue-600">{{domain.domainURL}}</div>
                            <div class="text-gray-600 mt-2"><span class="text-gray-700 font-bold">Version:</span> {{domain.branch}}</div>
                        </div>
                        <div class="w-2/12">
                            <span class="px-2 py-1 bg-gray-50 border border-gray-200 rounded-md">{{filterRequiredIds('type', domain.environmentType)}}</span>
                        </div>
                        <div class="w-2/12">
                            <span class="hover:text-blue-600 hover:underline cursor-pointer" [routerLink]="['../clients', domain.clientId]">{{filterRequiredIds('client', domain.clientId)}}</span>
                        </div>
                        <div class="w-2/12">
                            <span class="hover:text-blue-600 hover:underline cursor-pointer" [routerLink]="['../projects', domain.projectId]">{{filterRequiredIds('project', domain.projectId)}}</span>
                        </div>
                        <div class="w-1/12">
                            <span class="w-fit rounded-full uppercase py.05 px-2 text-xs" [ngClass]="getStatusStyle(filterRequiredIds('status', domain.status))">{{filterRequiredIds('status', domain.status)}}</span>
                        </div>
                        <div class="w-1/12">
                            <button mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>