<div class="w-full h-screen flex">

    <!-- Left Block -->
    <div class="w-4/12 flex flex-wrap custom-bg-1 p-12">

        <!-- Logo Text -->
        <div class="w-full flex items-end text-4xl logo-f1 text-white">RELEASE <span class="text-blue-300 logo-f1 pl-2">TRACKER</span></div>

        <!-- Sign In Quick Brief Text -->
        <div class="w-full text-gray-300 text-xl mt-6">
            Get more things done by tracking and managing your software release.
        </div>
    </div>

    <!-- Right Block -->
    <div class="w-8/12 p-12">

        <!-- Tabs -->
        <div class="w-full flex border">
            
            <!-- Org Info, Primary User Info, Confirmation -->
        </div>
    </div>
</div>