<div class="w-full h-screen flex">

    <!-- Left Block -->
    <div class="w-4/12 flex flex-wrap custom-bg-1 p-12">

        <!-- Logo Text -->
        <div class="w-full flex items-end text-4xl logo-f1 text-white">RELEASE <span class="text-blue-300 logo-f1 pl-2">TRACKER</span></div>

        <!-- Sign In Quick Brief Text -->
        <div class="w-full text-gray-300 text-xl mt-6">
            Get more things done by tracking and managing your software release.
        </div>
    </div>

    <!-- Right Block -->
    <div class="w-8/12 px-24 h-full flex flex-wrap content-center">

        <!-- Tabs -->
        <div class="w-full flex justify-between items-center font-semibold">
            
            <!-- Org Info, Primary User Info, Confirmation -->
            <div class="">
                <div class="text-center">1</div>
                <div class="mt-3">Organisation Info</div>
            </div>
            <div class="flex items-center">
                <span class="px-6 border"></span>
            </div>
            <div class="">
                <div class="text-center">2</div>
                <div class="mt-3">Admin Info</div>
            </div>
            <div class="flex items-center">
                <span class="px-6 border"></span>
            </div>
            <div class="">
                <div class="text-center">3</div>
                <div class="mt-3">Confirmation</div>
            </div>
        </div>

        <!-- Tab Contents -->
        <div class="w-full">
            
            <!-- Organisation Info Content -->
            <div class="w-10/12 my-20">
                <div class="font-bold text-2xl">Tell us about your Organisation</div>
                <form [formGroup]="orgInfoForm" class="mt-10">
                    <!-- Org Name -->
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Organisation Name</mat-label>
                        <input class="" type="text" matInput placeholder="Enter your Organisation Name" formControlName="orgName" required>
                        <mat-error>Organisation Name is <strong>Required!</strong></mat-error>
                    </mat-form-field>

                    <!-- Org Category -->
                    <mat-form-field class="w-full mt-2" appearance="outline">
                        <mat-label>Organisation Type</mat-label>
                        <mat-select placeholder="Organisation Type" required formControlName="orgType">
                            <mat-option *ngFor="let type of ['Corporate & IT', 'Franchise', 'Sole Proprietorship', 'Government']; let i=index;" [value]="i+1">
                              {{type}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Organisation Type is <strong>Required!</strong></mat-error>
                    </mat-form-field>

                    <!-- Stepper Button -->
                    <div class="w-full flex justify-end mt-6">
                        <button mat-flat-button color="primary">
                            Next <mat-icon class="text-base -mt-0.5 ml-1 -mr-2">arrow_forward</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>