<div class="w-full">

    <!-- Navigation -->
    <div class="w-full flex justify-between items-center py-3 px-6 bg-gray-800">

        <!-- Nav Left Block: Logo -->
        <div class="">
            <span class="logo-f1 uppercase text-xl text-white">Release <span class="text-blue-300 logo-f1">Tracker</span></span>
        </div>

        <!-- Nav Right Block: User Actions, Notifications -->
        <div class="flex items-center relative">
            <button mat-flat-button class="text-white text-sm py-1" color="primary" (click)="navigationActions()">
                <mat-icon class="-ml-2">add</mat-icon> New
            </button>
            <div class="rounded-full py-1.5 px-3 bg-gray-100 text-gray-700 border-2 border-gray-700 font-bold shadow-md ml-6 cursor-pointer" [matMenuTriggerFor]="menu">{{memberDetails?.firstName[0]}}</div>
            <mat-menu #menu="matMenu">
                <div class="w-64 text-gray-700">
                    <div class="w-full border-b border-gray-200 bg-gray-100 px-4 py-2 -mt-2">
                        <div class="text-xs text-gray-600">Logged in as</div>
                        <div class="font-bold text-gray-800 mt-1 text-xs">{{memberDetails?.firstName}} {{memberDetails?.lastName}}</div>
                    </div>
                    <div class="w-full px-4 py-3 flex text-sm items-center cursor-pointer hover:text-blue-500">
                        <mat-icon class="mr-2 text-base">person</mat-icon> Profile
                    </div>
                    <div class="w-full px-4 py-3 flex text-sm items-center cursor-pointer hover:text-blue-500">
                        <mat-icon class="mr-2 text-base">settings</mat-icon> Settings
                    </div>
                    <div class="w-full px-4 py-3 flex text-sm items-center cursor-pointer hover:text-blue-500" (click)="memberSignOut(memberDetails?.id)">
                        <mat-icon class="mr-2 text-base">logout</mat-icon> Logout
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
</div>