<!-- If no objectives are present. -->
<div class="w-full flex flex-wrap mt-14" *ngIf="releaseDetails && !releaseDetails?.releaseSecurityDisclosure.length && formViewType === '' ">
    <div class="w-full py-6 text-center text-gray-700">Hey, currently there are no Security Disclosures added for this release.</div>
    <div class="w-full flex justify-center">
        <button mat-flat-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">Let's Start Adding</button>
    </div>
</div>

<!-- View Block -->
<div class="w-full">

    <!-- View Block Title and Actions -->
    <div class="w-full flex flex-wrap justify-between items-center mb-4" *ngIf="!['Add', 'Edit'].includes(formViewType) && releaseDetails?.releaseSecurityDisclosure?.length">
        <div class="w-10/12 text-lg">
            <div class="w-full">Security Disclosures</div>
            <div class="w-full text-xs text-gray-600">Click on <span class="font-bold italic">Show more</span> to view the description and perform other actions.</div>
        </div>
        <div class="w-2/12 flex justify-end">
            <button mat-stroked-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">+ Add</button>
        </div>
    </div>

    <!-- Loading Block -->
    <div class="w-full mt-14 flex items-center justify-center" *ngIf="fetchLoader">
        <mat-spinner class="mr-2" diameter="22"></mat-spinner> Fetching Security Disclosures...
    </div>

    <!-- View Block Objectives list -->
    <div class="w-full" *ngIf="releaseDetails && releaseDetails?.releaseSecurityDisclosure?.length && formViewType === '' ">
        <div class="py-4 text-xs">
            <span class="font-bold">Total:</span><span class="text-gray-800 ml-1">{{releaseDetails?.releaseSecurityDisclosure.length}}</span>
        </div>
        <div class="w-full px-4 py-2 border border-gray-200 rounded-md mb-4" *ngFor="let securityDisclosure of releaseDetails?.releaseSecurityDisclosure; let i = index;">

            <!-- Security Disclosure Title & Action Block -->
            <div class="w-full flex justify-between items-center">
                <div class="w-8/12">
                    <div class="text-xs text-gray-600 flex items-center">#{{i+1}}</div>
                    <div class="text-base mt-2">{{securityDisclosure.securityVulnerabilities}}</div>
                </div>
                <div class="w-4/12 flex justify-end items-center">
                    <button mat-icon-button class="ml-2" matTooltip="Show More" *ngIf="expandedSecurityDisclosureId !== securityDisclosure._id" (click)="expandedSecurityDisclosureId = securityDisclosure._id; getMemberDetails(securityDisclosure.lastModifiedById)">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-icon-button class="ml-2" matTooltip="Show Less" *ngIf="expandedSecurityDisclosureId !== '' && expandedSecurityDisclosureId === securityDisclosure._id" (click)="expandedSecurityDisclosureId = '' ">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
            </div>
    
            <!-- Expanded Block -->
            <div class="w-full mt-4" *ngIf="expandedSecurityDisclosureId === securityDisclosure._id ">

                <!-- Security Disclosure Description -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">AFFECTED AREAS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{securityDisclosure.affectedAreas}}</div>
                </div>

                <!-- Security Disclosure Reference Links -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">POTENTIAL IMPACTS ON USERS & DATA</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{securityDisclosure.userDataImpact}}</div>
                </div>

                <!-- Security Disclosure Comments / Remarks -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">EXPLOITED SCENARIOS & ASSCIATED RISKS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{securityDisclosure.exploitationRisks}}</div>
                </div>

                <!-- Security Disclosure Comments / Remarks -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">REGULATORY COMPILANCE IMPLICATIONS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{securityDisclosure.regulatoryCompilance}}</div>
                </div>

                <!-- Security Disclosure Comments / Remarks -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">POST DISCLOSURE MANAGEMENT & PLAN</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{securityDisclosure.postDisclosurePlan}}</div>
                </div>
    
                <!-- Modification Details -->
                <div class="w-full flex justify-end items-center">
                    <div class="w-10/12 mt-8">
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Created By:</span> <mat-spinner [diameter]="20" *ngIf="!securityDisclosureModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="securityDisclosureModifiedName" [routerLink]="['../../admin/members', securityDisclosure.createdById]">{{securityDisclosureModifiedName?.firstName}} {{securityDisclosureModifiedName?.lastName}} </span><span class="italic">, On {{securityDisclosure.createdOnDate | date:'medium'}}</span>
                        </div>
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Modified By:</span> <mat-spinner [diameter]="20" *ngIf="!securityDisclosureModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="securityDisclosureModifiedName" [routerLink]="['../../admin/members', securityDisclosure.lastModifiedById]">{{securityDisclosureModifiedName?.firstName}} {{securityDisclosureModifiedName?.lastName}} </span><span class="italic">, On {{securityDisclosure.lastModifiedDate | date:'medium'}}</span>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-end">
                        <button mat-icon-button class="" color="warn" (click)="deleteSecurityDisclosureId = securityDisclosure._id; securityDisclosureComponentDeleteActions(securityDisclosure.title);">
                            <mat-icon class="mr-2">delete</mat-icon>
                        </button>
                        <button mat-icon-button class="" (click)="formViewType = 'Edit'; editSecurityDisclosureId = securityDisclosure._id; editSecurityDisclosuresForm(securityDisclosure) ">
                            <mat-icon class="mr-2">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>


</div>

<!-- Form Block -->
<div class="w-full" *ngIf="['Add', 'Edit'].includes(formViewType)">

    <!-- Title -->
    <div class="w-full text-lg">{{formViewType}} Release Security Disclosures</div>
    <div class="w-full text-xs text-gray-600">Enter all the requied fields*</div>

    <!-- Form Block -->
    <div class="w-full mt-8">
        <div class="w-10/12 flex flex-wrap items-center my-3" [formGroup]="securityDisclosureForm">

            <!-- Security Vulnerability -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Security Vulnerability</mat-label>
                <input type="text" matInput placeholder="Add Security Vulnerability"  formControlName="securityVulnerabilities" required>
            </mat-form-field>

            <!-- Affected Areas -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Affected Areas</mat-label>
                <textarea type="text" matInput placeholder="Add Affected Areas"  formControlName="affectedAreas" required></textarea>
            </mat-form-field>

            <!-- Potential Impacts on Users & Data -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Potential Impacts on Users & Data</mat-label>
                <textarea type="text" matInput placeholder="Add Potential Impacts on users and data."  formControlName="userDataImpact" required></textarea>
            </mat-form-field>

            <!-- Reference Links -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Exploited Scenarios & Associated Risks</mat-label>
                <textarea type="text" matInput placeholder="Add Exploited Scenarios & Associated Risks"  formControlName="exploitationRisks"></textarea>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Regulatory Compilance Implications</mat-label>
                <textarea type="text" matInput placeholder="Add Regulatory Compilance Implications"  formControlName="regulatoryCompilance"></textarea>
            </mat-form-field>

            <!-- Status -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Post-Disclosure Management & Plan</mat-label>
                <textarea type="text" matInput placeholder="Add Post-Disclosure Management & Plan"  formControlName="postDisclosurePlan"></textarea>
            </mat-form-field>

            <!-- Form Actions -->
            <div class="w-full flex justify-end mt-8" *ngIf="!formActionLoader">
                <button mat-stroked-button class="" (click)="formViewType = '';">Cancel</button>
                <button mat-flat-button class="ml-4" color="primary" (click)="updateReleaseSecurityDisclosure()" [disabled]="securityDisclosureForm.invalid">{{formViewType === 'Add' ? 'Add' : 'Update'}}</button>
            </div>

            <!-- Form action loader -->
            <div class="w-full flex justify-end mt-8" *ngIf="formActionLoader">
                <mat-spinner [diameter]="20"></mat-spinner>
                <span class="ml-2">{{formViewType}}ing Release Security Disclosure ...</span>
            </div>
        </div>
    </div>
</div>