<!-- If no objectives are present. -->
<div class="w-full flex flex-wrap mt-14" *ngIf="releaseDetails && !releaseDetails?.releaseRollbackPlan.length && formViewType === '' ">
    <div class="w-full py-6 text-center text-gray-700">Hey, currently there are no Rollback Plans added for this release.</div>
    <div class="w-full flex justify-center">
        <button mat-flat-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">Let's Start Adding</button>
    </div>
</div>

<!-- View Block -->
<div class="w-full">

    <!-- View Block Title and Actions -->
    <div class="w-full flex flex-wrap justify-between items-center mb-4" *ngIf="!['Add', 'Edit'].includes(formViewType) && releaseDetails?.releaseRollbackPlan?.length">
        <div class="w-10/12 text-lg">
            <div class="w-full">Rollback Plan</div>
            <div class="w-full text-xs text-gray-600">Click on <span class="font-bold italic">Show more</span> to view the description and perform other actions.</div>
        </div>
        <div class="w-2/12 flex justify-end">
            <button mat-stroked-button class="" color="primary" (click)="formViewType = 'Add'; resetForm();">+ Add</button>
        </div>
    </div>

    <!-- Loading Block -->
    <div class="w-full mt-14 flex items-center justify-center" *ngIf="fetchLoader">
        <mat-spinner class="mr-2" diameter="22"></mat-spinner> Fetching Rollback Plans...
    </div>

    <!-- View Block Objectives list -->
    <div class="w-full" *ngIf="releaseDetails && releaseDetails?.releaseRollbackPlan?.length && formViewType === '' ">
        <div class="py-4 text-xs">
            <span class="font-bold">Total:</span><span class="text-gray-800 ml-1">{{releaseDetails?.releaseRollbackPlan.length}}</span>
        </div>
        <div class="w-full px-4 py-2 border border-gray-200 rounded-md mb-4" *ngFor="let rollbackPlan of releaseDetails?.releaseRollbackPlan; let i = index;">

            <!-- defect Title & Action Block -->
            <div class="w-full flex justify-between items-center">
                <div class="w-8/12">
                    <div class="text-xs text-gray-600">#{{i+1}}</div>
                    <div class="text-base">{{filterRequiredIds('type', rollbackPlan.type)}}</div>
                </div>
                <div class="w-4/12 flex justify-end items-center">
                    <button mat-icon-button class="ml-2" matTooltip="Show More" *ngIf="expandedRollbackPlanId !== rollbackPlan._id" (click)="expandedRollbackPlanId = rollbackPlan._id; getMemberDetails(rollbackPlan.lastModifiedById)">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-icon-button class="ml-2" matTooltip="Show Less" *ngIf="expandedRollbackPlanId !== '' && expandedRollbackPlanId === rollbackPlan._id" (click)="expandedRollbackPlanId = '' ">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
            </div>
    
            <!-- Expanded Block -->
            <div class="w-full mt-4" *ngIf="expandedRollbackPlanId === rollbackPlan._id ">
                <!-- Rollback Reasons -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">ROLLBACK REASON</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.reasons}}</div>
                </div>

                <!-- Rollback Testing Plan -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">ROLLBACK TESTING PLAN</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.testingPlan}}</div>
                </div>

                <!-- Rollback Team Members -->
                <div class="w-full pb-6">
                    <div class="text-xs text-gray-600 font-bold mb-1">ROLLBACK TEAM MEMBERS</div>
                    <div class="w-full mb-1" *ngFor="let member of rollbackPlan.rollbackTeam">
                        <div class="w-fit text-gray-600 text-xs py-1 px-2 rounded-md bg-gray-100 border border-gray-200 mr-2 cursor-pointer hover:bg-blue-100 hover:border-blue-300">{{filterRequiredIds('members', member)}}</div>
                    </div>
                </div>

                <!-- Rollback Timeline -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">ROLLBACK TIMELINE</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.rollbackTimeline}}</div>
                </div>

                <!-- Rollback User Impact Mitigation -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">USER IMPACT MITIGATION</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.userImpactMitigation}}</div>
                </div>

                <!-- Rollback Escalation Plan -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">ESCALATION PLAN</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.escalationPlan}}</div>
                </div>

                <!-- Rollback Comments -->
                <div class="w-full">
                    <div class="text-xs text-gray-600 font-bold">COMMENTS/REMARKS</div>
                    <div class="w-full pb-6 text-gray-600 text-xs">{{rollbackPlan.comments}}</div>
                </div>
    
                <!-- Modification Details -->
                <div class="w-full flex justify-end items-center">
                    <div class="w-10/12 mt-8">
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Created By:</span> <mat-spinner [diameter]="20" *ngIf="!rollbackPlanModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="rollbackPlanModifiedName" [routerLink]="['../../admin/members', rollbackPlan.createdById]">{{rollbackPlanModifiedName?.firstName}} {{rollbackPlanModifiedName?.lastName}} </span><span class="italic">, On {{rollbackPlan.createdOnDate | date:'medium'}}</span>
                        </div>
                        <div class="text-xs text-gray-600 flex items-center mt-1">
                            <span class="font-semibold">Modified By:</span> <mat-spinner [diameter]="20" *ngIf="!rollbackPlanModifiedName"></mat-spinner> <span class="ml-1 hover:underline hover:text-blue-600 cursor-pointer" *ngIf="rollbackPlanModifiedName" [routerLink]="['../../admin/members', rollbackPlan.lastModifiedById]">{{rollbackPlanModifiedName?.firstName}} {{rollbackPlanModifiedName?.lastName}} </span><span class="italic">, On {{rollbackPlan.lastModifiedDate | date:'medium'}}</span>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-end">
                        <button mat-icon-button class="" color="warn" (click)="deleteRollbackPlanId = rollbackPlan._id; rollbackPlanDeleteActions(filterRequiredIds('type', rollbackPlan.type));">
                            <mat-icon class="mr-2">delete</mat-icon>
                        </button>
                        <button mat-icon-button class="" (click)="formViewType = 'Edit'; editRollbackPlanId = rollbackPlan._id; editRollbackPlan(rollbackPlan) ">
                            <mat-icon class="mr-2">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>


</div>

<!-- Form Block -->
<div class="w-full" *ngIf="['Add', 'Edit'].includes(formViewType)">

    <!-- Title -->
    <div class="w-full text-lg">{{formViewType}} Release Rollback Plan</div>
    <div class="w-full text-xs text-gray-600">Enter all the requied fields*</div>

    <!-- Form Block -->
    <div class="w-full mt-8">
        <div class="w-10/12 flex flex-wrap items-center my-3" [formGroup]="rollbackPlanForm">

            <!-- Type -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Plan Type</mat-label>
                <mat-select placeholder="Select Rollback Plan Type" formControlName="type" required>
                    <mat-option *ngFor="let type of releaseConfigDetails.rollbackPlanTypes" [value]="type._id">
                      {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Rollback Plan reasons -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Plan Reasons</mat-label>
                <input type="text" matInput placeholder="Add Rollback Plan Reasons"  formControlName="reasons" required>
            </mat-form-field>

            <!-- Rollback testing plan -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Testing plan</mat-label>
                <textarea type="text" matInput placeholder="Add Rollback Testing Plan"  formControlName="testingPlan" required></textarea>
            </mat-form-field>

            <!-- Rollback team members -->
            <div class="w-full">
                <div class="w-full mb-2">
                    <div class="">
                        <div class="text-xs font-bold text-gray-800">Selected Team Members:</div>
                        <div class="w-fit flex flex-wrap mt-1">
                            <div class="w-fit mb-1" *ngFor="let member of teamMembers; let i = index;">
                                <div class="w-fit text-gray-600 text-xs py-1 px-2 rounded-md bg-gray-100 border border-gray-200 mr-2 hover:bg-blue-100 hover:border-blue-300">{{member.firstName + ' ' + member.lastName}} <span class="ml-2 hover:text-red-600 font-bold cursor-pointer"  (click)="manageTeamMembers(member, 'remove', i)" matTooltip="Remove" matTooltipPosition="above">&#x58;</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-form-field class="w-full mb-1" appearance="outline">
                    <mat-label>Rollback Team</mat-label>
                    <input type="text" matInput placeholder="Enter First Name / Last Name / Email"  formControlName="rollbackTeam"  (keyup)="searchMember($event)">
                </mat-form-field>

                <!-- Display member based on response. -->
                <div class="w-full mb-4">
                    <div class="w-full flex flex-wrap">
                        <div class="w-3/12" *ngFor="let member of membersList">
                            <div class="border border-blue-200 rounded-lg bg-blue-50 mr-3" [ngClass]="{'bg-green-50 border-green-200' : !filterSelectedMembersFromSearchResults(member._id)}">
                                <div class="w-full flex items-center px-2 py-2">
                                    <div class="">
                                        <div class="text-gray-800 text-xs font-bold">{{member.firstName + ' ' + member.lastName}}</div>
                                        <div class="text-gray-500 text-xs">{{member.title}}</div>
                                    </div>
                                </div>
                                <div class="w-full flex justify-end mt-1 p-2 bg-white rounded-b-lg border-t border-blue-200" [ngClass]="{'border-green-200' : !filterSelectedMembersFromSearchResults(member._id)}">
                                    <button mat-button color="primary" (click)="manageTeamMembers(member, 'save')"  *ngIf="filterSelectedMembersFromSearchResults(member._id)">Add +</button>
                                    <div class="text-green-600 pointer-events-none" *ngIf="!filterSelectedMembersFromSearchResults(member._id)">
                                        <mat-icon>check_circle</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Timeline</mat-label>
                <textarea type="text" matInput placeholder="Add Rollback Timeline"  formControlName="rollbackTimeline"></textarea>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>User Impact Mitigation</mat-label>
                <textarea type="text" matInput placeholder="Add User Impact Mitigation"  formControlName="userImpactMitigation"></textarea>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Escalation Plan</mat-label>
                <textarea type="text" matInput placeholder="Add Rollback Escalation Plan"  formControlName="escalationPlan"></textarea>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field class="w-full mb-2" appearance="outline">
                <mat-label>Rollback Comments/Remarks</mat-label>
                <textarea type="text" matInput placeholder="Add Rollback Comments/Remarks"  formControlName="comments"></textarea>
            </mat-form-field>

            <!-- Form Actions -->
            <div class="w-full flex justify-end mt-8" *ngIf="!formActionLoader">
                <button mat-stroked-button class="" (click)="formViewType = '';">Cancel</button>
                <button mat-flat-button class="ml-4" color="primary" (click)="updateReleaseRollbackPlan()" [disabled]="rollbackPlanForm.invalid">{{formViewType === 'Add' ? 'Add' : 'Update'}}</button>
            </div>

            <!-- Form action loader -->
            <div class="w-full flex justify-end mt-8" *ngIf="formActionLoader">
                <mat-spinner [diameter]="20"></mat-spinner>
                <span class="ml-2">{{formViewType}}ing Release Rollback Plan ...</span>
            </div>
        </div>
    </div>
</div>