<div class="w-full px-4">
    <div class="w-full my-2 p-4">
        <!-- Back to projects list Navigation-->
        <div class="" style="width: fit-content">
            <a class="" >
                <div class="flex items-center hover:text-blue-500 cursor-pointer" [routerLink]="['../']">
                    <mat-icon class="text-base -ml-1 -mr-1">keyboard_arrow_left</mat-icon>Back
                </div>
            </a>
        </div>

        <!-- Project Details Block -->
        <div class="w-full mt-4" *ngIf="projectDetails">

            <!-- Title & Project Actions -->
            <div class="w-full flex justify-between">

                <!-- Title Content -->
                <div class="w-8/12">
                    <div class="w-fit font-bold" [routerLink]="['../../clients', projectDetails.clientId]"><span class="text-blue-600 cursor-pointer hover:underline">{{filterRequiredIds('client', projectDetails.clientId)}}</span></div>
                    <div class="w-full text-2xl mt-1">{{projectDetails.projectName}}</div>
                </div>

                <!-- Project Actions Content -->
                <div class="w-4/12 flex justify-end items-center">

                    <!-- Project Status -->
                    <div class="" *ngIf="tempStatusValue !== '' ">
                        <div mat-flat-button class="select-none cursor-pointer rounded-full px-3 pr-2 py-1 flex items-center text-xs uppercase" [ngClass]="getStatusStyle(filterRequiredIds('status', tempStatusValue))" [matMenuTriggerFor]="matStatusMenu">
                            {{filterRequiredIds('status', tempStatusValue)}} <mat-icon class="cursor-pointer bg-white rounded-full ml-3">arrow_drop_down</mat-icon>
                        </div>
                        <mat-menu #matStatusMenu="matMenu">
                            <div class="" *ngFor="let status of projectConfig.status">
                                <div class="text-xs p-3 uppercase hover:bg-gray-100 cursor-pointer hover:font-bold hover:text-blue-800 hover:border-l-2 hover:border-blue-800" (click)="tempStatusValue = status._id;">{{status.value}}</div>
                            </div>
                        </mat-menu>
                    </div>

                    <!-- Project Edit -->
                    <div class="">
                        <!-- <button mat-icon-button class="!ml-4">
                            <mat-icon>more_vert</mat-icon>
                        </button> -->
                        <div class="ml-4">
                            <button mat-stroked-button class="text-gray-600 text-xs">
                                <mat-icon class="text-sm mt-1 -ml-2">edit</mat-icon> Edit Project
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Project Basic Details Content -->
            <div class="w-full mt-4 border border-gray-200 rounded-lg p-4">

                <!-- Title -->
                <div class="w-full text-lg">Basic Details</div>

                <!-- Basic Details Content -->
                <div class="w-full flex flex-wrap justify-between mt-4">

                    <!-- Project Name -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Project Name</div>
                        <div class="mt-1">{{projectDetails.projectName}}</div>
                    </div>

                    <!-- Client -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Client</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', projectDetails.projectManagerId]">{{filterRequiredIds('client', projectDetails.clientId)}}</div>
                    </div>

                    <!-- Project Manager -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Project Manager</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" *ngIf="teamMembersDetailsList.length === projectDetails.teamMembers.length" [routerLink]="['../../admin/members', projectDetails.projectManagerId]">{{filterRequiredIds('teamMember', projectDetails.projectManagerId)}}</div>
                    </div>

                    <!-- Create On -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Created On</div>
                        <div class="mt-1">{{projectDetails.createdOn | date:'medium'}}</div>
                    </div>

                    <!-- Create By -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Created By</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" *ngIf="teamMembersDetailsList.length === projectDetails.teamMembers.length" [routerLink]="['../../admin/members', projectDetails.createdById]">{{filterRequiredIds('teamMember', projectDetails.createdById)}}</div>
                    </div>

                    <!-- Project Name -->
                    <div class="w-full mt-8">
                        <div class="text-xs uppercase text-gray-600">Project Description</div>
                        <div class="mt-1">{{projectDetails.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>