<div class="w-full px-4">
    <div class="w-full my-2 p-4">

        <!-- Project Details Block -->
        <div class="w-full" *ngIf="projectDetails">

            <!-- Title & Project Actions -->
            <div class="w-full flex justify-between">

                <!-- Title Content -->
                <div class="w-8/12">
                    <div class="w-fit font-bold flex items-center"><span class="text-blue-600 cursor-pointer uppercase hover:underline" [routerLink]="['../']">Projects</span> <span class="mx-2 font-bold text-3xl">&#xB7;</span> <span class="text-normal uppercase">View</span></div>
                    <div class="w-full text-2xl mt-1">{{projectDetails.projectName}}</div>
                </div>

                <!-- Project Actions Content -->
                <div class="w-4/12 flex justify-end items-center">

                    <!-- Project Status -->
                    <div class="" *ngIf="tempStatusValue !== '' ">
                        <div mat-flat-button class="select-none cursor-pointer rounded-full px-3 pr-2 py-1 flex items-center text-xs uppercase" [ngClass]="getStatusStyle(filterRequiredIds('status', tempStatusValue))" [matMenuTriggerFor]="matStatusMenu">
                            {{filterRequiredIds('status', tempStatusValue)}} <mat-icon class="cursor-pointer bg-white rounded-full ml-3">arrow_drop_down</mat-icon>
                        </div>
                        <mat-menu #matStatusMenu="matMenu">
                            <div class="" *ngFor="let status of projectConfig.status">
                                <div class="text-xs p-3 uppercase hover:bg-gray-100 cursor-pointer hover:font-bold hover:text-blue-800 hover:border-l-2 hover:border-blue-800" (click)="tempStatusValue = status._id;">{{status.value}}</div>
                            </div>
                        </mat-menu>
                    </div>

                    <!-- Project Edit -->
                    <div class="">
                        <!-- <button mat-icon-button class="!ml-4">
                            <mat-icon>more_vert</mat-icon>
                        </button> -->
                        <div class="ml-4">
                            <button mat-stroked-button class="text-gray-600 text-xs">
                                <mat-icon class="text-sm -ml-2">edit</mat-icon> Edit Project
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Project Basic Details Content -->
            <div class="w-full mt-4 border border-gray-200 rounded-lg p-4">

                <!-- Title -->
                <div class="w-full text-lg">Basic Details</div>

                <!-- Basic Details Content -->
                <div class="w-full flex flex-wrap justify-between mt-4">

                    <!-- Project Description -->
                    <div class="w-full mb-8">
                        <div class="text-xs uppercase text-gray-600">Project Description</div>
                        <div class="mt-1">{{projectDetails.description}}</div>
                    </div>

                    <!-- Project Name -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Project Name</div>
                        <div class="mt-1">{{projectDetails.projectName}}</div>
                    </div>

                    <!-- Client -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Client</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../clients', projectDetails.clientId]">{{filterRequiredIds('client', projectDetails.clientId)}}</div>
                    </div>

                    <!-- Project Manager -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Project Manager</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" *ngIf="teamMembersDetailsList.length === projectDetails.teamMembers.length" [routerLink]="['../../admin/members', projectDetails.projectManagerId]">{{filterRequiredIds('teamMember', projectDetails.projectManagerId)}}</div>
                    </div>

                    <!-- Create On -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Created On</div>
                        <div class="mt-1">{{projectDetails.createdOn | date:'medium'}}</div>
                    </div>

                    <!-- Create By -->
                    <div class="w-2/12">
                        <div class="text-xs uppercase text-gray-600">Created By</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" *ngIf="teamMembersDetailsList.length === projectDetails.teamMembers.length" [routerLink]="['../../admin/members', projectDetails.createdById]">{{filterRequiredIds('teamMember', projectDetails.createdById)}}</div>
                    </div>
                </div>
            </div>

            <!-- Project Details Tabs -->
            <div class="w-full mt-4 bg-gray-100">
                <mat-tab-group class=" border border-gray-200 rounded-md" mat-align-tabs="start">

                    <!-- Releases Tab -->
                    <mat-tab label="Releases">
                        <div class="w-full h-full p-4 flex flex-wrap border-t border-gray-200">
                            <div class="w-full border border-gray-200 rounded-md bg-white" *ngIf="releasesList?.length">

                                <!-- Filter Block -->
                                <div class="w-full p-4 border-b border-gray-200 flex justify-between">
                                    <div class="">
                                        <div class="text-lg">Release List</div>
                                        <div class="text-xs text-gray-500">Click on either of releases for quick view.</div>
                                    </div>
                                    <div class="">
                                        <button mat-stroked-button class="" color="primary">+ Filter</button>
                                    </div>
                                    
                                </div>

                                <!-- Release content -->
                                <div class="w-full flex">

                                    <!-- Release List -->
                                    <div class="w-6/12 border-r border-gray-200"> 
                                        <div class="w-full border-b border-gray-200 cursor-pointer hover:bg-gray-50" *ngFor="let release of releasesList" (click)="releaseQuickView(release)">
                                            <div class="w-full flex justify-between p-4" [ngClass]="{'border-l-4 border-blue-600' : release._id === selectedReleaseDetails?._id}">
                                                <div class="">
                                                    <div class="text-base text-gray-700">{{release.releaseTitle}}</div>
                                                </div>
                                                <div class="flex content-center">
                                                    <div class="">
                                                        <div class="text-right">
                                                            <span class="text-right text-xs px-3 rounded-full uppercase" [ngClass]="getStatusStyle(filterRequiredIds('release_status', release.releaseStatusId))">{{filterRequiredIds('release_status', release.releaseStatusId)}}</span>
                                                        </div>
                                                        <div class="mt-2 text-gray-500 text-xs flex items-center">Closing On: <span class="text-gray-500 ml-1">{{release.releaseClosingDate | date}}</span></div>
                                                    </div>
                                                    <div class="ml-4">
                                                        <button mat-icon-button class="text-gray-600">
                                                            <mat-icon>keyboard_arrow_right</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Release Quick View Details Block -->
                                    <div class="w-6/12">

                                        <div class="w-full p-4 bg-white">
                                            <div class="w-full flex justify-between items-center" *ngIf="selectedReleaseDetails">

                                                <!-- Title -->
                                                <div class="w-10/12">
                                                    <!-- Quick View Title -->
                                                    <div class="text-blue-600 font-bold text-xs">RELEASE QUICK VIEW</div>
    
                                                    <!-- Release Basic Details -->
                                                    <div class="w-full mt-2">
                                                        <div class="text-xl flex items-center">{{selectedReleaseDetails.releaseTitle}} <span class="text-right text-xs px-3 rounded-full uppercase ml-3" [ngClass]="getStatusStyle(filterRequiredIds('release_status', selectedReleaseDetails.releaseStatusId))">{{filterRequiredIds('release_status', selectedReleaseDetails.releaseStatusId)}}</span></div>
                                                        <div class="text-xs text-gray-600">
                                                            Created by: <span class="hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', selectedReleaseDetails.releaseCreatedById]">{{filterRequiredIds('teamMember', selectedReleaseDetails.releaseCreatedById)}}</span> on {{selectedReleaseDetails.releaseCreatedOnDate | date:'medium'}}
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <!-- View More Details: Release View Page Navigation -->
                                                <div class="w-2/12 flex justify-end">
                                                    <button mat-icon-button class="" matTooltip="View More Details" color="primary" [routerLink]="['../../releases', selectedReleaseDetails?._id]"><mat-icon>launch</mat-icon></button>
                                                </div>
                                            </div>
    
                                            <!-- Basic Details Content Row 1-->
                                            <div class="w-full flex flex-wrap justify-start mt-10" *ngIf="selectedReleaseDetails">
    
                                                <!-- Release Priority -->
                                                <div class="w-6/12 mb-6">
                                                    <div class="text-xs uppercase text-gray-600">Release Priority</div>
                                                    <div class="mt-1 w-fit">
                                                        <span class="text-white text-xs py-1 px-3 rounded-full"
                                                        [ngClass]="{'bg-red-600' : ['High', 'Highest', 'Critical'].includes(filterRequiredIds('priorities', selectedReleaseDetails.releasePriority)),
                                                        'bg-green-600' : ['Medium'].includes(filterRequiredIds('priorities', selectedReleaseDetails.releasePriority)),
                                                        'bg-black' : ['Blocker'].includes(filterRequiredIds('priorities', selectedReleaseDetails.releasePriority)),
                                                        'bg-blue-600' : ['Low', 'Lowest'].includes(filterRequiredIds('priorities', selectedReleaseDetails.releasePriority))}">
                                                        {{filterRequiredIds('priorities', selectedReleaseDetails.releasePriority)}}
                                                        </span>
                                                    </div>
                                                </div>
    
                                                <!-- Release Owner -->
                                                <div class="w-6/12 mb-6">
                                                    <div class="text-xs uppercase text-gray-600">Release Owner</div>
                                                    <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', selectedReleaseDetails.releaseOwnerId]">{{filterRequiredIds('teamMember', selectedReleaseDetails.releaseOwnerId)}}</div>
                                                </div>
    
                                                <!-- Release Type -->
                                                <div class="w-6/12 mb-6">
                                                    <div class="text-xs uppercase text-gray-600">Release Type</div>
                                                    <div class="mt-1">{{filterRequiredIds('type', selectedReleaseDetails.releaseTypeId)}}</div>
                                                </div>
    
                                                <!-- Release Target -->
                                                <div class="w-6/12 mb-6">
                                                    <div class="text-xs uppercase text-gray-600">Release Target</div>
                                                    <div class="mt-1">{{filterRequiredIds('target', selectedReleaseDetails.releaseTargetId)}}</div>
                                                </div>
    
                                                <!-- Closing On -->
                                                <div class="w-6/12 mb-6">
                                                    <div class="text-xs uppercase text-gray-600">Release Closing On</div>
                                                    <div class="mt-1">{{selectedReleaseDetails.releaseClosingDate | date}}</div>
                                                </div>
    
                                                <div class="text-xs text-gray-600 mt-6" *ngIf="selectedReleaseDetails.lastModifiedById">
                                                    Last Modified by: <span class="hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', selectedReleaseDetails.lastModifiedById]">{{filterRequiredIds('teamMember', selectedReleaseDetails.lastModifiedById)}}</span> on {{selectedReleaseDetails.lastModifiedDate | date:'medium'}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <!-- If no releases created under client -->
                            <div class="w-full py-14" *ngIf="!releasesList?.length">
                                <div class="text-gray-600 text-center">No releases available for {{projectDetails.projectName}} project.</div>
                                <div class="mt-4 flex justify-center">
                                    <button mat-flat-button class="" color="primary" [routerLink]="['../../releases/create']">Create New Release</button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <!-- Domains Tab -->
                    <mat-tab label="Domains">
                        <div class="w-full h-full p-4 flex flex-wrap border-t border-gray-200">
                            <div class="w-full border border-gray-200 rounded-md bg-white" *ngIf="domainsList?.length">
                                <div class="w-full flex justify-between px-4 py-2 bg-gray-50 border-b border-gray-200 rounded-t-md text-gray-800 font-bold text-xs">
                                    <div class="w-4/12">Domain URL</div>
                                    <div class="w-2/12">Environment</div>
                                    <div class="w-3/12">Project</div>
                                    <div class="w-2/12">Status</div>
                                    <div class="w-1/12">Actions</div>
                                </div>
                                <div class="w-full flex justify-between items-center px-4 py-3 border-b border-gray-200 text-xs" *ngFor="let domain of domainsList">
                                    <div class="w-4/12">
                                        <div class="text-blue-600">
                                            <a class="hover:text-blue-700 hover:underline" href="{{domain.domainURL}}" target="_blank">{{domain.domainURL}}</a>
                                        </div>
                                        <div class="text-gray-600 mt-2"><span class="text-gray-700 font-bold">Version:</span> {{domain.branch}}</div>
                                    </div>
                                    <div class="w-2/12">
                                        <span class="px-2 py-1 bg-gray-50 border border-gray-200 rounded-md">{{filterRequiredIds('domain_type', domain.environmentType)}}</span>
                                    </div>
                                    <div class="w-3/12">
                                        <span class="">{{projectDetails.projectName}}</span>
                                    </div>
                                    <div class="w-2/12">
                                        <span class="w-fit rounded-full uppercase py.05 px-2 text-xs" [ngClass]="getStatusStyle(filterRequiredIds('domain_status', domain.status))">{{filterRequiredIds('domain_status', domain.status)}}</span>
                                    </div>
                                    <div class="w-1/12">
                                        <button mat-icon-button>
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
    
                            <!-- If no projects created under client -->
                            <div class="w-full py-14" *ngIf="!domainsList?.length">
                                <div class="text-gray-600 text-center">Add required domains for {{projectDetails.projectName}}.</div>
                                <div class="mt-4 flex justify-center">
                                    <button mat-flat-button class="" color="primary" [routerLink]="['../../domains/create']">Add New Domain</button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <!-- Team Members Tab -->
                    <mat-tab label="Team Members">
                        Team Members List
                    </mat-tab>

                    <!-- Projects Tab -->
                    <mat-tab label="Analytics">
                        Analytics Content
                    </mat-tab>
    
                    <!-- Timeline Tab -->
                    <mat-tab label="Timeline">
                        <div class="w-full flex flex-wrap items-center px-4">
    
                            <!-- In Pgoress -->
                            <div class="w-full flex justify-center p-3 mt-6">
                                <img class="w-3/12" src="assets/gifs/dev-progress.gif">
                            </div>
                            <div class="w-full text-center text-gray-600 -mt-28 font-bold">
                                Feature Coming Soon...
                            </div>
                        </div>
                    </mat-tab>

                    <!-- Projects Tab -->
                    <mat-tab label="Settings">
                        Project Settings
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>