<div class="w-full px-4">
    <div class="w-full my-2 p-4" *ngIf="releaseDetails">

        <!-- Release Content -->
        <div class="w-full mt-2">

            <!-- Title & Release Actions -->
            <div class="w-full flex justify-between">

                <!-- Title Content -->
                <div class="w-6/12">
                    <div class="w-fit font-bold" [routerLink]="['../']"><span class="text-blue-600 cursor-pointer uppercase hover:underline">Releases</span></div>
                    <div class="w-full text-2xl mt-1">{{releaseDetails.releaseTitle}}</div>
                    <div class="text-xs text-gray-600">
                        Created by: <span class="hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', releaseDetails.releaseCreatedById]">{{filterRequiredIds('member', releaseDetails.releaseCreatedById)}}</span> on {{releaseDetails.releaseCreatedOnDate | date:'medium'}}
                    </div>
                </div>

                <!-- Release Actions Content -->
                <div class="w-6/12 flex justify-end items-center">

                    <!-- Release Status -->
                    <div class="" *ngIf="tempStatusValue !== '' ">
                        <div mat-flat-button class="select-none cursor-pointer rounded-full px-3 pr-2 py-1 flex items-center text-xs uppercase" [ngClass]="getStatusStyle(filterRequiredIds('status', tempStatusValue))" [matMenuTriggerFor]="matStatusMenu">
                            {{filterRequiredIds('status', tempStatusValue)}} <mat-icon class="cursor-pointer bg-white rounded-full ml-3">arrow_drop_down</mat-icon>
                        </div>
                        <mat-menu #matStatusMenu="matMenu">
                            <div class="" *ngFor="let status of releaseConfigDetails.status">
                                <div class="text-xs p-3 uppercase hover:bg-gray-100 cursor-pointer hover:font-bold hover:text-blue-800 hover:border-l-2 hover:border-blue-800" (click)="tempStatusValue = status._id;">{{status.value}}</div>
                            </div>
                        </mat-menu>
                    </div>

                    <!-- Release Edit -->
                    <div class="flex">
                        <!-- <button mat-icon-button class="!ml-4">
                            <mat-icon>more_vert</mat-icon>
                        </button> -->
                        <div class="ml-4">
                            <button mat-stroked-button class="text-gray-600 text-xs">
                                <mat-icon class="text-sm -mt-1" iconPositionStart>content_copy</mat-icon> Clone
                            </button>
                        </div>
                        <div class="ml-4">
                            <button mat-stroked-button class="text-gray-600 text-xs" [routerLink]="['../', releaseDetails._id, 'edit']">
                                <mat-icon class="text-sm -mt-1" iconPositionStart>edit</mat-icon> Edit Release
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Release Basic Details Content -->
            <div class="w-full mt-4 border border-gray-200 rounded-lg p-4">

                <!-- Title -->
                <div class="w-full">
                    <div class="text-lg">Basic Details</div>
                    <div class="text-xs text-gray-600" *ngIf="releaseDetails.lastModifiedById">
                        Last Modified by: <span class="hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', releaseDetails.lastModifiedById]">{{filterRequiredIds('member', releaseDetails.lastModifiedById)}}</span> on {{releaseDetails.lastModifiedDate | date:'medium'}}
                    </div>
                </div>

                <!-- Basic Details Content Row 1-->
                <div class="w-full flex flex-wrap justify-start mt-6">

                    <!-- Client -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Client</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../clients', releaseDetails.clientId]">{{filterRequiredIds('client', releaseDetails.clientId)}}</div>
                    </div>

                    <!-- Project Name -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Project Name</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../projects', projectDetails._id]">{{projectDetails.projectName}}</div>
                    </div>

                    <!-- Project Manager -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Project Manager</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', projectDetails.projectManagerId]">{{filterRequiredIds('member', projectDetails.projectManagerId)}}</div>
                    </div>

                    <!-- Release Priority -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Release Priority</div>
                        <div class="mt-1 w-fit">
                            <span class="text-white text-xs py-1 px-3 rounded-full"
                             [ngClass]="{'bg-red-600' : ['High', 'Highest', 'Critical'].includes(filterRequiredIds('priorities', releaseDetails.releasePriority)),
                             'bg-green-600' : ['Medium'].includes(filterRequiredIds('priorities', releaseDetails.releasePriority)),
                             'bg-black' : ['Blocker'].includes(filterRequiredIds('priorities', releaseDetails.releasePriority)),
                             'bg-blue-600' : ['Low', 'Lowest'].includes(filterRequiredIds('priorities', releaseDetails.releasePriority))}">
                             {{filterRequiredIds('priorities', releaseDetails.releasePriority)}}
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Basic Details Content Row 2-->
                <div class="w-full flex flex-wrap justify-start mt-6">

                    <!-- Release Owner -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Release Owner</div>
                        <div class="mt-1 hover:underline hover:text-blue-600 cursor-pointer w-fit" [routerLink]="['../../admin/members', releaseDetails.releaseOwnerId]">{{filterRequiredIds('member', releaseDetails.releaseOwnerId)}}</div>
                    </div>

                    <!-- Release Type -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Release Type</div>
                        <div class="mt-1">{{filterRequiredIds('type', releaseDetails.releaseTypeId)}}</div>
                    </div>

                    <!-- Release Target -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Release Target</div>
                        <div class="mt-1">{{filterRequiredIds('target', releaseDetails.releaseTargetId)}}</div>
                    </div>

                    <!-- Closing On -->
                    <div class="w-3/12">
                        <div class="text-xs uppercase text-gray-600">Release Closing On</div>
                        <div class="mt-1">{{releaseDetails.releaseClosingDate | date}}</div>
                    </div>
                </div>
            </div>

            <!-- Release Advanced Details -->
            <div class="w-full mt-4 border border-gray-200 rounded-lg p-4 mb-14">

                <!-- Title -->
                <div class="w-full flex justify-between">
                    <div class="w-full text-lg">Advanced Details</div>
                    <div class="w-6/12 flex justify-end" *ngIf="activeComponent === '' ">
                        <div class="w-6/12 flex justify-end">
                            <form [formGroup]="releaseDetailSearchForm" class="w-full flex justify-end items-center relative">
                                <input class="border border-gray-200 rounded-md p-2 outline-none" type="text" placeholder="Search" (keyup)="searchAdvancedDetailOption()" formControlName="releaseDetailSearchText">
                                <mat-icon class="text-base text-red-300 absolute right-0 top-1.5 cursor-pointer" *ngIf="releaseDetailSearchForm.get('releaseDetailSearchText')?.value !== '' " (click)="clearSearchInput()">cancel</mat-icon>
                            </form>
                        </div>
                        <div class="ml-4 flex justify-end">
                            <button mat-flat-button color="primary" class="">Proceed for Sign-off  <mat-icon class="ml-2" iconPositionEnd>keyboard_arrow_right</mat-icon></button>
                        </div>
                    </div>
                </div>
                

                <!-- Advanced Details Cards -->
                <div class="w-full flex flex-wrap justify-start items-stretch mt-2" *ngIf="activeComponent === '' ">
                    <div class="w-6/12 p-2" *ngFor="let menu of advancedDetailsMenu">
                        <div class="w-full flex items-center text-gray-800 border border-gray-200 rounded-lg p-4 cursor-pointer hover:border-blue-400 hover:text-blue-600 hover:font-bold">
                            <div class="w-11/12">
                                <div class="w-full">{{menu.title}}</div>
                                <div class="w-full text-xs text-gray-600 mt-3 font-normal">{{menu.description}}</div>
                            </div>
                            <div class="w-1/12 flex justify-end">
                                <button mat-icon-button class="" color="primary" (click)="activeComponent = menu.component; activeComponentInputs = menu;">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Render advanced release details component. -->
                <div class="w-full mt-2" *ngIf="activeComponent != '' ">

                    <div class="w-full flex border border-gray-200 rounded-lg">
                        
                        <!-- Left Block of active component rendered. -->
                        <div class="w-3/12 min-h-96 bg-gray-100">

                            <!-- Back Button -->
                            <div class="mb-4 py-4">
                                <button mat-button class="-mr-4" (click)="activeComponent = ''">
                                    <mat-icon class="mr-1">keyboard_arrow_left</mat-icon> Back
                                </button>
                            </div>

                            <!-- Active Component Title -->
                            <div class="w-full text-2xl mb-4 px-4">{{activeComponentInputs.title}}</div>

                            <!-- Active Component Description -->
                            <div class="w-full text-sm text-gray-700 mb-4 px-4">{{activeComponentInputs.description}}</div>
                        </div>

                        <!-- Active Component Outlet -->
                        <div class="w-9/12 min-h-72 py-4 px-6">
                            <div class="w-full">
                                <ng-container *ngComponentOutlet="activeComponent; inputs:activeComponentInputs"></ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div class="w-full flex justify-center py-28" *ngIf="!releaseDetails">
        <div class="flex items-center">
            <mat-spinner [diameter]="20"></mat-spinner>
            <span class="ml-2">Loading Release details. Please Wait ...</span>
        </div>
    </div>
</div>