<div class="w-full px-4">
    <div class="w-full my-2 p-4">
        <!-- Back to releases list Navigation-->
        <div class="" style="width: fit-content">
            <a class=""  [routerLink]="['../']">
                <div class="flex items-center hover:text-blue-500">
                    <mat-icon class="text-base -ml-1 -mr-1">keyboard_arrow_left</mat-icon>Back
                </div>
            </a>
        </div>

        <!-- Release Content -->
        <div class="w-full mt-4">
            <!-- Title -->
            <div class="w-full flex justify-between items-center">
                <div class="">
                    <span class="text-gray-400">IIFL</span>
                    <div class="text-xl text-gray-700 flex items-center">Release Version 1.0 <span class="px-3 bg-gray-50 border border-gray-200 rounded-full text-xs ml-2 italic">Patch</span></div>
                    <div class="mt-1 text-gray-400 text-xs flex content-center"><mat-icon class="text-xs -mr-2">date_range</mat-icon>Closing On 31st March 2024</div>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>
</div>