<div class="w-full">
    <div class="w-full border-b border-gray-200 p-2 text-lg">Examine Release Aspects</div>
    <div class="w-full p-4 mt-4">
        <div class="w-full flex">
            <div class="w-2/12 flex flex-wrap border border-gray-200 rounded-md mr-4">
                <div class="w-full text-center text-2xl px-10 py-6">12</div>
                <div class="w-full text-center pb-2 text-gray-600 font-bold text-xs">TOTAL</div>
            </div>
            <div class="w-2/12 flex flex-wrap border border-gray-200 rounded-md mr-4">
                <div class="w-full text-center text-2xl px-10 py-6">8</div>
                <div class="w-full text-center pb-2 text-gray-600 font-bold text-xs">COMPLETED</div>
            </div>
            <div class="w-2/12 flex flex-wrap border border-gray-200 rounded-md mr-4">
                <div class="w-full text-center text-2xl px-10 py-6">4</div>
                <div class="w-full text-center pb-2 text-gray-600 font-bold text-xs">PENDING</div>
            </div>
        </div>
    </div>
</div>