<div class="w-full">

    <!-- Confirmation Title -->
    <div class="w-full py-8">{{data.confirmationContent.title}}</div>

    <!-- Confirmation Sub-Title -->
    <div class="w-10/12 text-gray-500">{{data.confirmationContent.subtitle}}</div>

    <!-- Confirmation Actions -->
    <div class="w-full mt-6">
        <div class="w-full flex justify-end">
            <button mat-stroked-button class="" color="warn">No</button>
            <button mat-flat-button class="!ml-4" color="primary" mat-dialog-close>Confirm</button>
        </div>
    </div>
</div>