<div class="w-full">
    <!-- Content Navigation -->
    <div class="w-full flex bg-gray-700 px-6 py-2">
        <div 
        class="text-white mr-10 px-4 pt-1 rounded-md cursor-pointer border border-gray-700 hover:border-gray-500" 
        [ngClass]="{'bg-gray-550 border-gray-600': activeContentMenu === menu.name}" 
        *ngFor="let menu of contentMenuOption"
        (click)="activeContentMenu = menu.name" >
            <a [routerLink]="[menu.route]">
                <div class="flex content-center ">
                    <div class="">
                        <mat-icon class=" text-sm">{{menu.icon}}</mat-icon>
                    </div>
                    <div class="">{{menu.name}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
