<div class="w-full">
    <!-- Content Navigation -->
    <div class="w-full flex bg-gray-700 px-6 py-2">
        <div 
        class="flex content-center text-white mr-10 px-4 pt-1 rounded-md cursor-pointer border border-gray-700 hover:border-gray-500" 
        [ngClass]="{'bg-gray-550 border-gray-600': activeContentMenu === menu.name}" 
        *ngFor="let menu of contentMenuOption"
        (click)="activeContentMenu = menu.name">
            <div class="">
                <mat-icon class=" text-sm">{{menu.icon}}</mat-icon>
            </div>
            <div class="">{{menu.name}}</div>
        </div>
    </div>

    <!-- Content Body -->
    <div class="w-full">

        <!-- Releases Component View -->
        <ng-container *ngIf="activeContentMenu === 'Releases' ">
            <app-releases></app-releases>
        </ng-container>

        <!-- Instances Component View -->
        <ng-container *ngIf="activeContentMenu === 'Instances' ">
            <app-instances></app-instances>
        </ng-container>

        <!-- Project Component View -->
        <ng-container *ngIf="activeContentMenu === 'Projects' ">
            <app-projects></app-projects>
        </ng-container>

        <!-- Timeline Component View -->
        <ng-container *ngIf="activeContentMenu === 'Timelines' ">
            <app-timelines></app-timelines>
        </ng-container>

        <!-- Admin Component View -->
        <ng-container *ngIf="activeContentMenu === 'Admin' ">
            <app-admin></app-admin>
        </ng-container>
    </div>
</div>
