<div class="w-full px-4">
    <div class="w-full my-2 p-4">
        <!-- Back to projects list Navigation-->
        <div class="" style="width: fit-content">
            <a class=""  [routerLink]="['../']">
                <div class="flex items-center hover:text-blue-500">
                    <mat-icon class="text-base -ml-1 -mr-1">keyboard_arrow_left</mat-icon>Back
                </div>
            </a>
        </div>

        <!-- Create Project Content -->
        <div class="w-full mt-4">
            <!-- Title -->
            <div class="w-full flex justify-between items-center">
                <div class="">
                    <div class="text-2xl text-gray-700 flex items-center">Create New Project</div>
                </div>
            </div>

            <!-- Create / Edit Form -->
            <div class="w-full mt-10">
                <form class="w-full" [formGroup]="projectCreateEditForm">
                    <!-- Client Selection -->
                    <div class="w-full flex justify-start items-start pb-4 border-b border-gray-200">
                        <div class="w-3/12">
                            <div class="w-full text-lg">Client</div>
                            <div class="w-full text-xs text-gray-500">Select client for the project.</div>
                        </div>
                        <div class="w-4/12">
                            <!-- Client -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-select placeholder="Select Client" required>
                                    <mat-option *ngFor="let client of clientsList" [value]="client._id">
                                      {{client.clientName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Client is <strong>Required!</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Project Details -->
                    <div class="w-full flex justify-start items-start mt-10 pb-4 border-b border-gray-200">
                        <div class="w-3/12">
                            <div class="w-full text-lg">Basic Details</div>
                            <div class="w-full text-xs text-gray-500">Enter all the required details and initiate the project. </div>
                        </div>
                        <div class="w-4/12">
                            <!-- Project Name -->
                            <mat-form-field class="w-full" appearance="outline">
                                <input type="text" matInput placeholder="Project Name" formControlName="projectName" required>
                                <mat-error>Project Name is <strong>Required!</strong></mat-error>
                            </mat-form-field>

                            <!-- Project Summary -->
                            <mat-form-field class="w-full mt-4" appearance="outline">
                                <textarea matInput placeholder="Project Summary" formControlName="projectSummary" required></textarea>
                                <mat-error>Project Summary is <strong>Required!</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Team Members -->
                    <div class="w-full flex justify-start items-start mt-10 pb-10 border-b border-gray-200" *ngIf="memberConfig">
                        <div class="w-3/12">
                            <div class="w-full text-lg">Team Members</div>
                            <div class="w-full text-xs text-gray-500">Add respective team member to your project.</div>
                        </div>
                        <div class="w-8/12">
                            <div class="w-full flex">
                                <!-- Member Type -->
                                <mat-form-field class="w-2/12" appearance="outline">
                                    <mat-select placeholder="Member Type" formControlName="memberType">
                                        <mat-option *ngFor="let type of memberConfig.types" [value]="type.value">
                                        {{type.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Member Type is <strong>Required!</strong></mat-error>
                                </mat-form-field>

                                <!-- Member Name -->
                                <mat-form-field class="w-6/12 ml-4" appearance="outline">
                                    <input type="text" matInput placeholder="Enter First Name / Last Name / Email" formControlName="searchString" (keyup)="searchMember($event)" required>
                                    <mat-error><strong>Required!</strong></mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Display member based on response. -->
                            <div class="w-full">
                                <div class="w-full flex flex-wrap">
                                    <div class="w-3/12 border border-blue-200 rounded-lg bg-blue-50 p-2 mr-3" *ngFor="let member of membersList">
                                        <div class="w-full flex items-center">
                                            <div class="">
                                                <div class="rounded-full border-2 border-gray-300 p-4 bg-blue-600 text-white font-bold text-sm">
                                                    {{member.firstName[0]+member.lastName[0]}}
                                                </div>
                                            </div>
                                            <div class="ml-3">
                                                <div class="text-gray-800 text-xs font-bold">{{member.firstName + ' ' + member.lastName}}</div>
                                                <div class="text-gray-400 text-xs">{{member.title}}</div>
                                            </div>
                                        </div>
                                        <div class="w-full flex justify-center mt-3">
                                            <button mat-button color="primary">Add +</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="w-full flex justify-end p-6">
                        <button mat-button class="">Cancel</button>
                        <button mat-flat-button class="bg-blue-500 text-white" style="margin-left: 3%;">Create Project</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>