<div class="w-full px-16 pb-24">

    <!-- Title -->
    <div class="w-full">
        <div class="text-xl px-2">Release Configurations</div>
        <div class="px-2 mt-2">
            <span class="font-bold text-blue-600" [ngClass]="{'hover:cursor-pointer' : activeReleaseCategory}" (click)="activeReleaseCategory = ''; activeComponent = null; releaseConfigLocalStorageActions('remove');">Categories</span> <span class="font-bold mx-1" *ngIf="activeReleaseCategory != '' "> > </span> <span class="font-bold text-gray-600" *ngIf="activeReleaseCategory != '' ">{{activeReleaseCategory}}</span>
        </div>
    </div>

    <!-- Configuration block -->
    <div class="w-full flex flex-wrap justify-start mt-4" *ngIf="!activeComponent">

        <div class="w-6/12 p-2">

            <!-- BASIC -->
            <div class="w-full border border-gray-200 rounded-lg p-4">
                <div class="text-xs text-gray-600">BASIC</div>
                <div class="w-full cursor-pointer hover:text-blue-600 hover:font-bold"  *ngFor="let category of releaseCategories.releases.categories">
                    <div class="w-full flex items-center" *ngIf="category.type === 'BASIC' " (click)="activeComponent = releaseCategories.releases.component; activeReleaseCategory = category.title; releaseConfigLocalStorageActions('set')">
                        <div class="w-11/12">
                            <div class="mt-2">{{category.title}}</div>
                        </div>
                        <div class="w-1/12 flex justify-end">
                            <button mat-icon-button class="" color="primary">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CORE -->
            <div class="w-full border border-gray-200 rounded-lg p-4 mt-4">
                <div class="text-xs text-gray-600">CORE</div>
                <div class="w-full cursor-pointer hover:text-blue-600 hover:font-bold" (click)="activeReleaseCategory = category.title; "  *ngFor="let category of releaseCategories.releases.categories">
                    <div class="w-full flex items-center" *ngIf="category.type === 'CORE' ">
                        <div class="w-11/12">
                            <div class="mt-2">{{category.title}}</div>
                        </div>
                        <div class="w-1/12 flex justify-end">
                            <button mat-icon-button class="" color="primary" >
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-6/12 p-2">

            <!-- STRATEGY -->
            <div class="w-full border border-gray-200 rounded-lg p-4">
                <div class="text-xs text-gray-600">STRATEGY</div>
                <div class="w-full cursor-pointer hover:text-blue-600 hover:font-bold" (click)="activeReleaseCategory = category.title; "  *ngFor="let category of releaseCategories.releases.categories">
                    <div class="w-full flex items-center" *ngIf="category.type === 'STRATEGY' ">
                        <div class="w-11/12">
                            <div class="mt-2">{{category.title}}</div>
                        </div>
                        <div class="w-1/12 flex justify-end">
                            <button mat-icon-button class="" color="primary">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full p-2 mt-4" *ngIf="activeComponent != '' ">
        <ng-container *ngComponentOutlet="activeComponent"></ng-container>
    </div>
</div>